.categories_heading {
  font-style: normal;
  font-weight: 400;
  /* font-size: 15px; */
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #3a3a3a;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #2b2b2b;
}

.img {
  border-radius: 25px !important;
}

@media only screen and (max-width: 899px) {
  .img {
    width: 150px;
    height: 220px;
  }
}
