.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 39px;
  padding-top: 3px;
  height: 50px;
  border: 0.885863px solid rgba(0, 0, 0, 0.3);
  border-radius: 13.2879px;
  margin-bottom: 16px;
}

.input {
  border: none;
  outline: none;

  font-size: 12px;
  width: 100%;
}

.label {
  font-size: 12px;
}

.input_icon_div {
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
}

.select_country_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 109px;
  height: 56px;
}

.select_country_input_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #c5c3c3;
  border-radius: 10px;
  color: #1c1f1e;
  padding: 1rem 7px;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  margin-bottom: 1.5rem;
}

.select_country_input_text:focus {
  opacity: 2;
  caret-color: transparent;
  cursor: pointer;
  outline: none;
}

.select_country_list__items:focus,
.select_country_list__wrapper:focus {
  opacity: 2;
  caret-color: transparent;
  cursor: pointer;
  outline: none;
}

.select_country_list__wrapper {
  position: absolute;
  justify-content: flex-end;
  width: 150px;
  height: 150px;
  right: -2rem;
  top: 2rem;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  scroll-behavior: smooth;
  z-index: 20;
}

.select_country_list__items {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.img_flag {
  width: 20px;
  margin-right: 5px !important;
  margin-top: 0.5rem;
}

.img_flag_div {
  position: absolute !important;
  left: 1rem !important;
  top: 0rem !important;
}

@media (max-width: 600px) {
  .select_country_wrapper {
    width: 60px;
    height: 45px;
  }
  .img_flag {
    width: 10px;
    margin-right: 5px !important;
    margin-top: 0.5rem;
  }
  .img_flag_div {
    position: absolute !important;
    width: 20px !important;
    height: 20px !important;
    left: 0.5rem !important;
    top: 0rem !important;
  }

  .select_country_list__wrapper {
    position: absolute;
    justify-content: flex-end;
    width: 120px;
    height: 90px;
    right: -3rem;
    top: 1.5rem;
  }
}
