.profile__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #000000;
  cursor: pointer;
}

.profile__header {
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 42px;
  letter-spacing: 0.04em;
  color: #000000;
}

.profile__side__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  /* border: 2px solid red; */
  margin-top: 53px;
}
.profile__side__nav__list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 108px;
  margin-left: 0;
  margin-bottom: 53px;
  cursor: pointer;
  /* border: 2px solid green; */
}

.profile__image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 8px;
}

.profile__image__upload__btn {
  width: 170px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 25px;
  outline: none;
  color: #000000;
}

.profile__image__upload__btn:hover {
  background: #0a503d;
  color: #ffffff;
  border: none;

  outline: none;
}

.profile__card__address {
  display: flex;
  flex-direction: column;
  /* margin-left: 2rem; */
  font-style: normal;
  font-weight: 400;
  width: 100%;

  color: #000000;
}
.profile__card__address__para {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
}

.profile__card__address__para__value {
  width: 204px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 22px; */
  /* text-align: center;           */
  color: #000000;
}

.notification__img {
  width: 32px;
  height: 47px;
  border-radius: 100%;
  margin-right: 1rem;
}

.profile__input {
  margin-bottom: 16px;
}

.profile__settings__input_wrapper {
  width: 350px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 16px;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 25px;
}

.profile__settings__input__small,
.profile__settings__input__small__phone {
  height: 50px;
  border: 0.439437px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
}

.profile__settings__select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.profile__shipping_btn {
  width: 172px;
  height: 47px;
  background: #0a503d;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  margin-top: 18px;
  color: #ffffff;
}

.profile__settings__btn {
  width: 227px;
  height: 69px;
  background: #0a503d;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 28px;
  color: #ffffff;
  /* margin-bottom: 45px; */
}

.profile__illustration {
  width: 296.89px;
  height: 251px;
}

@media (max-width: 899px) {
  .profile__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .profile__shipping_history__img {
    width: 60px;
    height: 60px;
  }

  .profile__illustration {
    width: 129.77px;
    height: 109.71px;
  }

  .profile__card__address__para {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .profile__card__address__para__value {
    width: 50px;
    font-size: 10px;
    margin-bottom: 5px;
    height: 30px;
    line-height: 16px;
    letter-spacing: 0.04em;
  }

  .profile__shipping_btn {
    width: 100px;
    height: 30px;

    font-size: 10px;
  }

  .profile__image__upload__btn {
    width: 90px;
    height: 20px;
    border-radius: 10.9859px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
  }

  .profile__settings__input_wrapper {
    width: 239.93px;
    height: 45.15px;
    border-radius: 6.59155px;
  }

  .profile__settings__input__small,
  .profile__settings__input__small__phone {
    height: 45.15px;
    border: 0.439437px solid rgba(0, 0, 0, 0.3);
    border-radius: 6.59155px;
  }

  .profile__settings__btn {
    width: 100px;
    height: 40px;
    border-radius: 21.9718px;
    font-size: 8px;
    line-height: 8px;
  }
}

@media (max-width: 450px) {
  .profile__card__address__para {
    font-size: 6.5px;
    line-height: 8px;
    text-align: center;
    margin-bottom: 7px;
  }
  .profile__shipping_btn {
    width: 63.82px;
    height: 17.44px;
    background: #0a503d;
    border-radius: 18.5534px;
    font-style: normal;
    font-weight: 400;
    font-size: 5.9371px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 18px;
    color: #ffffff;
  }
}
@media (max-width: 320px) {
  .profile__side__nav__wrapper {
    position: absolute;
    height: 100%;
    /* padding-top: -5rem; */
    /* border: 2px solid red; */
  }

  .profile__shipping__history__wrapper,
  .profile__settings__wrapper,
  .profile__notification__open__wrapper {
    margin-left: 5rem;
    width: 100%;
    /* border: 2px solid red; */
  }
}
