/* .shop__header {
  background-image: url("/shop-bg.svg");
} */

.shop__card__wrapper::-webkit-scrollbar {
  width: 0px;
}
.shop__card__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.shop__card__wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
  height: 10px;
}

.shop__filter__list {
  /* text-decoration: underline; */
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.shop__filter__list:hover {
  background-color: #fff;
  color: #0a503d;
  transform: scale(1);
  font-weight: bold;
}

.shop__filter__list__active {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}

.cart_details {
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 12px !important;
  color: #000000;
}

.cart_product_details {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  /* text-align: center; */
  letter-spacing: 0.04em;
  color: #000000;
}

.cart_img {
  border-radius: 100% !important;
}

.product_img {
  border-radius: 10.8163px;
}

.checkout_input {
  width: 402.67px;
  height: 59px;
  border: 0.7375px solid rgba(0, 0, 0, 0.3);
  border-radius: 11.0625px;
  margin-top: 17px;
  margin-bottom: 29px;
}

@media only screen and (max-width: 600px) {
  .cart_product_details {
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 5px;
  }

  .product_img {
    width: 115px !important;
    height: 96px !important;
  }

  .cart_details {
    font-size: 9px;
    line-height: 8px;
  }

  .checkout_input {
    width: 200px;
  }
}
